h1,
p,
body {
  margin: 0;
}

body {
  background-color: #FAFBFB;
  font-family: "FOT-筑紫A丸ゴシック" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body h2 {
  text-align: center;
  font-size: 24px;
}

body h3 {
  font-size: 16px;
}

body img {
  width: 100%;
}

section {
  width: 100%;
}

/*section .inner {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}*/

/*ヘッダー部分　ここから */
header .inner {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header .flex {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  height: auto;
  padding: 5%;
}

.logo {
  width: 80%;
  height: auto;
  float: left;
}


.contents {
  width: calc(50% - 6px);
  border: solid 3px #2B7BB2;
  padding: 1%;
  display: flex;
}

.contents p {
  font-size: 16px;
  font-weight: bold;
  color: #2B7BB2;
  margin: auto;
}

.contents input {
  width: 130px;
  height: 40px;
  margin: auto;
  background-color: #22CAD7;
  font-weight: bold;
  color: #F0FBFE;
  border-color: #22CAD7;
}

/*ヘッダー部分　ここまで */
/*メイン部分　ここから */

/*ナビゲーションメニュー　ここから */
#nav {
  list-style: none;
}

#nav li {
  width: 140px;
  height: 40px;
  text-align: center;
  background-color: #EDF2F3;
  /*border-width: 1px;
  border-color: #2B7BB2; */
  display: inline-block;
}

#nav li a {
  text-decoration: none;
  color: #2B7BB2;
  font-weight: bold;
}

/*ナビゲーションメニュー　ここまで */


/*メインビジュアル　ここから */

/* 大枠ボックス */
.main_img {
  margin: 0 auto;
  height: 500px;
}

/* 背景画像の読み込み */
.main_img-bg {
  background: url(images/main_img-bg.jpg) no-repeat 0 0;
  background-size: 100%;
}

/* 重ねる文字の基本設定 */
.main_img-text {
  text-shadow: 1px 1px 4px #fff;
  color: #2B7BB2;
  letter-spacing: 0.4rem;
}

/* SP向けの設定 */
@media screen and (max-width: 600px) {
  .layer-txt {
    font-size: 1.4rem;
    padding: 4rem 0;
  }
}

/* PC向けの設定 */
@media screen and (min-width: 601px) {
  .layer-txt {
    font-size: 2rem;
    padding: 8rem 0;
  }
}


/*メインビジュアル　ここまで */




/*コンセプト　ここから */


.consept p {
  font-size: 18px;
  text-align: center;
  padding: 2% 0 8% 0;
}

/*コンセプト　ここまで */


/*メイン　ここから */
/*医院紹介　ここから */
.about_us {
  background: #F0FBFE;
}

.about_us-text {
  padding: 30px 0 30px 0;
  border: solid;
  border-color: #9F9FA1;
}

/*大切にしていること　ここから */
.inner1 {
  background: url(images/inner1.jpg) no-repeat 0 0;
  background-position: bottom;
  padding: 2%;
}

.important {
  display: flex;
  height: 350px;

}

.important_content {
  background: #F0FBFE;
  border: 1px solid #9F9FA1;
  width: 700px;
  height: 200px;
  margin: 1%;
  padding: 2%;
}


/*大切にしていること　ここまで */

/*特徴　ここから */
.features {
  display: flex;
}

.inner2 {
  background: url(images/inner2.jpg) no-repeat 0 0;
  background-position: bottom;
  background-size: cover;
  padding: 2%;
}

.features_content {
  background: #F0FBFE;
  border: 1px solid #9F9FA1;
  width: 400px;
  height: 180px;
  margin: 10% 5% 10%;
  padding: 2%;
}

/*特徴　ここまで */

/*医院長挨拶　ここから */
.greet {
  display: flex;
  justify-content: center;
  height: 550px;
}

.greet_content {
  background: #F0FBFE;
  border: 1px solid #9F9FA1;
  width: 600px;
  height: 400px;
  margin: 2%;
  padding: 2%;
}

.doctor2 {
  object-fit: cover;
}

.inner3 {
  background: url(images/inner3.jpg) no-repeat 0 0;
  background-size: 100%;
  background-position: bottom;
  padding: 2%;
}

/*医院長挨拶　ここまで */

/*お知らせ　ここから */
.information {
  width: 90%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.information_content {
  width: 80%;
  margin: auto;
  padding: 5px 2px 0px 2px;
  border-bottom: 1px solid #9F9FA1;
}

/*お知らせ　ここまで */

/*アクセス　ここから */
.inner4 {
  background: url(images/inner4.jpg) no-repeat 0 0;
  background-position: bottom;
  background-size: cover;
}

.access {
  width: 80%;
  height: 500px;
  margin: auto;
  padding: 2%;
}

/*アクセス　ここまで */

/*医院紹介　ここまで */

/*メイン　ここまで */

/*フッター部分　ここから */
/*フッター部分　ここまで */